@charset "utf-8";
/* CSS Document */
*{ padding:0px; margin:0px; font-size:12px; font-family:Verdana, Geneva, sans-serif;}
body{ background:#bfbfbf}
ul,li{ list-style:none;}
a{ text-decoration:none;}
h1{ font-size:29px}
h3{ font-size:14px; color:#F90; margin-bottom:10px;}

#warp{ margin:0px auto; width:1000px; height:700px;  background:#FFF;}
#header{ height:60px; background:#FFF}
#left{ width:220px;  margin:12px 0px 0px 22px; float:left}
#logo{ float:left;}
#right{ width:687px; height:26px; background:#333333 url(images/imgs_02.jpg) no-repeat left; float:right;}
#right a{ color:#999; line-height:26px; margin-right:12px; float:right;}
#right a:hover{ color:#fff;}
#footer{ height:35px; background:#e9e9e9}
#footer p{ line-height:35px; float:right; margin-right:10px; color:#535353; float:right}

/*导航*/
.nav { padding-left:63px; height:22px;}
.nav li{ float:left;}
.nav a{ display:block; padding:0 20px; line-height:22px; background:#FC6; margin-right:1px; color:#333;}
.nav a:hover{ background:#F90; color:#fff;}


/*内容区*/
#content{ height:535px;padding:10px 63px; }
.location,.location a{ padding:5px; border:1px solid #eee; margin-bottom:15px; color:#ccc;}
.location a:hover{ background:#eee; color:#333;}

/*首页*/
td{padding:10px 20px; border-bottom:1px solid #eee; font-size:14px;}
td a:hover{ text-decoration:underline; color:#F60}
.firstLine{ font-weight:800;}
tr:hover{ background:#FFFCEE}




/*创建页面*/
.create label{ display:block; margin:20px 0;}
.create input{ width:300px; height:28px; border:1px solid #ccc;}
.create .btn:hover{ background:#000; color:#fff; cursor:pointer;}



/*小组列表*/
.team a{ width:250px; display:block; line-height:30px; border:1px #FC3 solid; margin:5px 0; text-align:center; }
.team label{ width:250px; display:block; line-height:30px; border:1px  #FC3 solid; margin:5px 0; text-align:center; }

.team a:hover{ background:#FFC;color:#000;}

/*提交按钮*/
.btn{ width:250px; height:28px; border:1px solid #ccc;}
.btn:hover{background:#000; color:#fff; cursor:pointer;}

